@model MM_Invoice_Final.Models.Dto.AddCarToCustomerDto

<h2>Add Car to Cutomer</h2>

<form method="post" asp-controller="CustomerCars" asp-action="AddCarToCustomer">
    <input type="" asp-for="CustomerId" />
    
    <div class="form-group">
        <label asp-for="CarRego"></label>
        <input asp-for="CarRego" />
        <span asp-validation-for="CarRego"></span>
    </div>
    <div class="form-group">
        <label asp-for="CarMake"></label>
        <input asp-for="CarMake" />
        <span asp-validation-for="CarMake"></span>
    </div>
    <div class="form-group">
        <label asp-for="CarModel"></label>
        <input asp-for="CarModel" />
        <span asp-validation-for="CarModel"></span>
    </div>
    <button type="submit">Add</button>
</form>